<div >
    
    <ul class="unstyled">
      <li ng-repeat="todo in todoList">
        <label class="checkbox">
          <input type="checkbox" ng-model="todo.status">
          <span class="done-{{todo.status}}">{{todo.name}}</span> 

        </label>
        <span ng-click="edit(todo.name)"> edit </span>
      </li>
    </ul>
    <form ng-submit="addTodo()">
      <input type="text" ng-model="todoText"  size="30"
             placeholder="add new todo here">
      <input class="btn-primary" type="submit" value="add">
    </form>
  </div>